
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.biodata-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
}

.biodata-row--column{
    display: flex;
   flex-direction: column;
}

.biodata-row--column h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 22.98px;
    text-align: start;
    margin-bottom: 1rem;
}
.biodata-row--icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 186px;
    width: 366px;
    border-radius: 4px;
    border: 0.5px solid #276221;
}

.biodata-row--icons p{
    font-weight: 300;
    font-style: italic;
    font-size: 12px;
    line-height: 13.79px;
    text-align: center;
    color: #0c0908;
}