
.btn  a button{
    text-decoration: none;
    background-color:#276221;
    height: 42px;
    width: 366px;
    padding: 8px 24px;
    gap: 10px;
    color: #fff;
    border: none;
    border-radius: 8px;
}
