*{
    margin: 0;
    padding: 0;
}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexStartCenter{
    display: flex;
    justify-content: start;
    align-items: center;
}

.flexStart{
    display: flex;
    justify-content: flex-start;
}

.flexEnd{
    display: flex;
    justify-content: flex-end;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.flexColumn{
    display: flex;
    flex-direction: column;
}

.flexAlign{
    display: flex;
    align-items: center;
}

.flexBetween{
    display: flex;
    justify-content: space-between;
}


.flexAround{
    display: flex;
    justify-content: space-around;
}

body{
    width: 100%;
}

.register-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-radio{
    display: flex;
    align-items: center;
}

.register-radio{
    display: flex;
    align-items:center;
}

.register-column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
}

.register-column div{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.register-column div p{
   padding-right: 2rem;
}

.register-column div input{
    margin-right: 2rem;
}

.register-radio p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16.09px;

}
hr{
    border: 1px solid #276221;
}


.active {
    border-bottom-right-radius: 32px;
    background-color: #276221;
    color: #FFFEFC;
}


.search{
    position: absolute;
    right: 10;
    height: 20px;
    width: 20px;
    padding-left: 1rem;
}

.register-search{
    position: absolute;
    top: 70px;
    left: 100px;
    transform: translateX(150%);
    width: 300px;
    z-index: 999;
}

.register-search input{
    height: 40px;
    width: 300px;
    padding-left: 3rem;
}

.register-search input::placeholder{
    padding-left: 1rem;
    font-size: 18px;
    font-weight: 400;
}

.register-column p{
    font-weight: 400;
    font-size: 14px;
    line-height: 13.79px;
    text-align: left;
   
}

.user-list{
    list-style: none;
    max-width: 300px;
    margin:20px auto;
    display: none;
}

.user-items{
    display: flex;
    align-items: center;
    padding: 10px;
}

.user-img{
    height: 40px;
    width: 40px;
    object-fit: contain;
}


.image-bottom--right{
    position: absolute;
    right: 0;
    bottom: -25rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.register-btn a button{
    text-decoration: none;
    background-color:#276221;
    height: 42px;
    width: 366px;
    padding: 8px 24px;
    gap: 10px;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.image-bottom--right img{
    object-fit: contain;
}
/* For tabet phone */
@media only screen and (max-width:768px){
    body{
        width: 100%;
        height: 100%;
       }
       
      
        .sidebar{
            width: 313px;
        }

        .image-bottom--right{
            bottom: -80rem;
        }
}

 /* For laptop */
@media only screen and (max-width: 1024px) {
    
    body{
        width: 100%;
    } 
 }
 /* For mobile */
@media only screen and (max-width: 550px) {
   body{
    width: 100%;
    height: 100%;
   }
   
    .sidebar{
        width: 313px;
    } 
}


 